{:deps {integrant/integrant            {:mvn/version "0.8.0"}
        org.apache.kafka/kafka-clients {:mvn/version "3.6.0"}
        com.xtdb/xtdb-core             {:mvn/version "1.24.0"}
        com.xtdb/xtdb-kafka            {:mvn/version "1.24.0"}
        com.xtdb/xtdb-jdbc             {:mvn/version "1.24.0"}
        org.postgresql/postgresql      {:mvn/version "42.6.0"}
        metosin/malli                  {:mvn/version "0.14.0"}
        integrant/repl                 {:mvn/version "0.3.2"}}}
