{:deps    {}
 :aliases {:repl              {:extra-deps  {qwerty/inventory-service {:local/root "inventory-service"}
                                             qwerty/oder-service      {:local/root "order-service"}
                                             qwerty/orchestrator      {:local/root "orchestrator"}
                                             qwerty/shared            {:local/root "shared"}}
                               :extra-paths ["order-service/src" "orchestrator/src" "shared/src"]}
           :order-service     {:extra-deps  {qwerty/order-service {:local/root "order-service"}}
                               :extra-paths ["order-service/src"]}
           :inventory-service {:extra-deps  {qwerty/inventory-service {:local/root "inventory-service"}}
                               :extra-paths ["inventory-service/src"]}
           :orchestrator      {:extra-deps  {qwerty/orchestrator {:local/root "orchestrator"}}
                               :extra-paths ["orchestrator/src"]}
           :shared            {:extra-deps  {qwerty/shared {:local/root "shared"}}
                               :extra-paths ["shared/src"]}}}
